html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/image/pexels-photo-830891.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: rgb(54, 79, 223, 0.5);
  min-height: 100%;
  z-index: -3;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

h4 {
  color: #b71c1c;
}
